/* LOGIN FORM */

.login {
    background: linear-gradient(0deg, rgba(0,142,158,1) 0%, rgba(0,96,134,1) 27%, rgba(15,12,41,1) 100%);;
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header h1 {
    font-size: 1.125rem;
    margin: 0;
}

.login #header h1 a {
    color: var(--header-link-color);
}

.login #content {
    padding: 20px 20px 0;
    width: 80%;
    margin: auto;
}

.login #container {
    background: var(--body-bg);
    overflow: hidden;
    width: 25em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(35, 35, 35) ;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .submit-row input {
    width: 100%;
}

.login .password-reset-link {
    text-align: center;
}

.login img{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}